body {
    background-color: rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(137, 144, 137);
}

.container{
    background-color: white;
    width: 30%;
    height: 350px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 30px;
    
}
.txtPrincipal{
    border: 1px solid rgb(137, 144, 137);
    width: 160px;
}
.gapAmount{
    margin-right: 60px;
}
.divSubcontainer{
    margin-left: 50px;
}
.rangeRate{
    margin-top: 15px;
    width: 100px;
}

.gapInterestRate{
    margin-right: 20px;
}

.gapNoOfYear{
    margin-right: 20px;
}

.NoOfYear{
    margin-top: 10px;
}

.divDeposit{
    margin-top: 10px;
}

.lastLine{
    width: 180px;
    margin-top: 20px;
}